h1 {
  @apply text-4xl;
}

legend {
  @apply text-2xl;
}

h4 {
  @apply text-xl;
}

h5 {
  @apply text-xl;
}

.btn {
  @apply inline-block rounded px-3 py-1.5 text-center align-middle text-base font-normal normal-case transition-colors duration-150 ease-in-out;
}

.btn-light {
  @apply border-gray-100 bg-gray-100 text-start text-primary  hover:bg-gray-200;
}

.btn-sm {
  @apply h-12 p-1 text-sm;
}

.grip,
.delete {
  @apply h-auto border-0;
}

.btn-link {
  @apply border-0 bg-inherit text-primary hover:bg-primary;
}

.btn-outline-danger {
  @apply border border-destructive text-destructive-foreground hover:bg-destructive hover:text-white;
}

.btn-danger {
  @apply bg-destructive text-white;
}

.btn-toolbar {
  @apply flex flex-wrap justify-start;
}

ul {
  @apply list-inside;
}

ul ul {
  /* TODO add circle before button or not? */
}

li {
  @apply pl-2;
}

.card {
  @apply rounded border border-gray-300;
}

.card-header {
  @apply border border-gray-100 bg-gray-100 p-2 py-4 align-middle;
}

.card-header svg {
  @apply mr-3 inline;
}

.form-group {
  @apply mb-4 p-1;
}

.form-label {
  @apply mb-2 inline-block;
}

.form-control {
  @apply w-full p-1.5;
}

.form-check-label {
  @apply ml-2;
}

/* rjsf uses .checkbox in div and input. daisyui uses checkbox on input. */
div.checkbox {
  @apply h-auto w-auto cursor-default border-none;
}

.form-check-input {
  @apply checkbox;
}

.custom-select {
  @apply ml-2;
}

.array-item-add,
.object-property-expand {
  /* TODO full width + center plus sign */
  @apply m-4 !w-auto;
}

.container {
  @apply w-full;
}

.container-fluid {
  @apply w-full;
}

.row {
  @apply flex flex-wrap;
}

.col {
  @apply max-w-full grow basis-0;
}

.col-2 {
  @apply w-full max-w-[16.666667%] basis-2/12 px-3;
}

.col-3 {
  @apply w-full max-w-[25%] basis-3/12 px-3;
}

.col-5 {
  @apply max-w-[41.666667%] basis-5/12;
}

.col-9 {
  @apply max-w-[75%] basis-9/12;
}

.col-10 {
  @apply max-w-[85%] basis-10/12;
}

.col-12 {
  @apply max-w-full basis-full;
}

.offset-9 {
  @apply ml-[75%];
}

.nav {
  @apply flex flex-wrap;
}

.nav-tabs {
  @apply border-b-4  border-b-primary;
}

.nav-link {
  @apply block rounded-t-md border bg-primary px-4 py-2;
}

.nav .active {
  @apply border-primary bg-primary text-primary;
}

.justify-content-end {
  @apply justify-end;
}

.d-flex {
  @apply !flex;
}

.align-items-center {
  @apply items-center;
}

.table-field {
  @apply mb-4 table border-collapse border border-gray-300;
}

.table-bordered td,
.table-bordered th {
  @apply border border-gray-300;
}

.table-striped tbody tr:nth-of-type(odd) {
  @apply bg-gray-100;
}

.table-field th:first-child {
  @apply relative;
}

.array-item-remove {
  @apply !text-black;
}

.popover-header {
  @apply rounded border-b border-gray-200 bg-gray-100 px-3 py-2;
}

.popover-body {
  @apply bg-white px-3 py-2 text-black;
}

.page {
  /* grid-template-areas:
    "catalog workflow node"
    "catalog workflow-actions node-actions"; */
  grid-template-columns: 1fr 1fr 2fr;
  /* grid-template-rows: 1fr auto; */
}

.page > .action-row {
  padding: 0.25rem;
  overflow: unset;
}

code .table {
  @apply contents;
}
