.node {
    width: 12rem;
    display: flex;
    justify-content: space-between; 
    align-items: center;
    margin-bottom: 4px;
  }

  .grip {
    visibility: hidden;
    cursor: grab !important;
  }
  
  .node:hover .grip {
    visibility: visible;
  }
  