.node {
  width: 12rem;
  display: flex;
  justify-content: space-between; 
  align-items: center;
  margin-bottom: 10px;
}

.delete {
    visibility: hidden;
}

.node:hover .delete {
  visibility: visible;
}

.grip {
  visibility: hidden;
  cursor: grab !important;
}

.node:hover .grip {
  visibility: visible;
}
