# This workflow will do a clean install of node dependencies, cache/restore them, build the source code and run tests across different versions of node
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-nodejs-with-github-actions

name: Node.js CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: Use Node.js
      uses: actions/setup-node@v2
      with:
        node-version: 16.x
        cache: 'yarn'
    - run: yarn
    - run: yarn build
    - run: yarn lint
    - run: yarn test -- run --coverage
    - name: Code coverage upload 4 core package
      uses: codecov/codecov-action@v3
      with:
        files: ./packages/core/coverage/lcov.info
        flags: core-unit
    - name: Code coverage upload 4 form package
      uses: codecov/codecov-action@v3
      with:
        files: ./packages/form/coverage/lcov.info
        flags: form-unit
    - name: Install Playwright
      run: npx playwright install --with-deps chromium
      working-directory: apps/haddock3-download
    - name: Run integration tests
      run: yarn test:integration
      working-directory: apps/haddock3-download
